@model IEnumerable<Appointments.WebUI.Models.Roles_with_Users_Viewmodel>

@{
    ViewBag.Title = "Users With Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Roles with Users</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RoleId }) |
                @Html.ActionLink("Details", "Details", new { id = item.RoleId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RoleId })
            </td>

        </tr>
    }
</table>
<p></p>
<div>
    <p class="box-title"><b>Total Roles: </b><span class="label label-primary">@Model.Count()</span></p>
</div>
<p></p>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>




    @section scripts{
        <script>
            $(function () {
                $("#example1").DataTable();
                $('#example2').DataTable({
                    "paging": true,
                    "lengthChange": true,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": true
                });
            });
        </script>
    }
