@model PagedList.IPagedList<Appointments.Domain.Entities.ExpandedUserDTO>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-sm" })
    @Html.ActionLink("Edit Roles", "ViewAllRoles", null, new { @class = "btn btn-info btn-sm" })
    @Html.ActionLink("Back to Home", "../", "Home", null, new { @class = "btn btn-secondary btn-sm" })
</p>
<br />
@using (Html.BeginForm("Index", "Admin", FormMethod.Get))
{

    <div class="form-group">
        Search:&nbsp; @Html.TextBox("searchStringUserNameOrEmail", ViewBag.CurrentFilter as string)

        <input type="submit" value="Search" />
    </div>
}
<br />

<table class="table">
    <tr>
        <th>
            UserName @*@Html.DisplayNameFor(model => model.UserName)*@
        </th>
        <th>
            Full Name @*@Html.DisplayNameFor(modelItem => item.FullName)*@
        </th>
        <th>
            Email @*@Html.DisplayNameFor(modelItem => item.Email)*@
        </th>
        <th>
            Date Created @*@Html.DisplayNameFor(modelItem => item.DateCreated)*@
        </th>
        <th>
           Inactive? @*@Html.DisplayNameFor(modelItem => item.IsDeleted)*@
        </th>
        <th>
            Date of Inactivity @*@Html.DisplayNameFor(modelItem => item.DateDeleted)*@
        </th>
        <th>
            Set as Inactive by @*@Html.DisplayNameFor(modelItem => item.DeletedBy)*@
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.IsDeleted, new { disabled = "disabled" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedBy)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditUser", new { UserName = item.UserName }, new { @class = "btn btn-warning btn-sm" })
                @if ((item.UserName.ToLower() != this.User.Identity.Name.ToLower()))
                {
                    @Html.ActionLink("Set as Inacive", "DeleteUser", new { UserName = item.UserName },
                    new { @class = "btn btn-danger btn-sm" , onclick = "return confirm('Are you sure you wish to delete this user?');" })
                }
            </td>
        </tr>
    }


</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model,
    page => Url.Action("Index",
    new { page,
        searchStringUserNameOrEmail = ViewBag.searchStringUserNameOrEmail,
        currentFilter = ViewBag.CurrentFilter }))
<hr />
