@model IEnumerable<Appointments.Domain.Entities.RoleDTO>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<table class="table table-responsive-lg table-hover table-striped table-bordered text-center">
    <tr>
        <th>
            Role
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @if (item.RoleName.ToLower() != "administrator")
                {
                    @Html.ActionLink("Delete", "DeleteUserRole",
                   new { RoleName = item.RoleName },
                   new
                   {
                       @class = "btn btn-danger btn-sm",
                       onclick =
                   "return confirm('Are you sure you wish to delete this role?');"
                   })
                }
            </td>

        </tr>
    }
</table>
<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary btn-sm" })
    @Html.ActionLink("Create Role", "AddRole", null, new { @class = "btn btn-primary btn-sm" })
</p>

