@model Appointments.Domain.Entities.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.DateUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.CheckBoxFor(model => model.IsDeleted, new { disabled = "disabled" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDeleted)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.DateDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedBy)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.DeletedBy)
        </dd>
        <dt>
            Roles
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Roles</th>

                </tr>
                @foreach (var item in Model.Roles)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoleId)
                        </td>
                        @*<td>
                            @Html.ActionLink("Edit", "Edit", "Appointment", new { id = item.Id }, null) | @*NO return to clients details list
                            @Html.ActionLink("Details", "Details", "Appointment", new { id = item.Id }, null) | @*NO return to clients details list
                            @Html.ActionLink("Delete", "Delete", "Appointment", new { id = item.Id }, null) @*NO return to clients details list
                        </td>*@
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
