@model Appointments.Domain.Entities.Client

@{
    ViewBag.Title = "Delete";
}

<h3>Delete Client</h3>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prefecture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prefecture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fixed_Line)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fixed_Line)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group">
            <input type = "submit" value="Delete" class="btn btn-danger btn-sm" />
        </div>
        <div class="btn-group mr-2" role="group">
            @*@Html.ActionLink("Back to List", "Details", "Client", new { id = Model.ClientId
        }, new { @class = "btn btn-secondary btn-sm" })*@
            <a class="btn btn-secondary btn-sm" href="javascript:history.back()">Cancel</a>
        </div>
    </div>
    }
</div>
