@model Appointments.Domain.Entities.Client

@{
    ViewBag.Title = "Client Details";
}

<h3>Client Details</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6"> 
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Prefecture)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Prefecture)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Municipality)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Municipality)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Area)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Area)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Street)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Street)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Postal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Postal)
                </dd>
            </dl>
        </div>
        <div class="col-sm-6">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Profession)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Profession)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Mobile)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Mobile)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Fixed_Line)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Fixed_Line)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </dl>
        </div>
    </div>
</div>
<div>
    <dl>

        <dt>
            Appointments History @*@Html.DisplayNameFor(model => model.Appointments)*@
        </dt>
        <dd>
            <div>
                @Html.ActionLink("Create New Appointment", "Create", "Appointment", new { clID = Model.Id }, new { @class = "btn btn-primary btn-sm" })
            </div>
            <br />
            <table class="table table-bordered table-responsive-lg text-center">



                <tr>
                    <th>Appointment Date & Time</th>
                    <th>Result</th>
                    <th>Actions</th>
                </tr>
                @foreach (var item in Model.Appointments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Result.ResultName)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", "Appointment", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                            @Html.ActionLink("Edit", "Edit", "Appointment", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })
                            @Html.ActionLink("Delete", "Delete", "Appointment", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                        </td>
                    </tr>
                }

            </table>
        </dd>
    </dl>
</div>

<div class="btn-toolbar" role="toolbar">
    <div class="btn-group mr-2" role="group">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning btn-sm" })
    </div>
    <div class="btn-group mr-2" role="group">
        @*@Html.ActionLink("Back to List", "Details", "Client", new { id = Model.ClientId }, new { @class = "btn btn-secondary btn-sm" })*@
        <a class="btn btn-secondary btn-sm" href="javascript:history.back()">Back</a>
    </div>
</div>
